body {
    background-image: url("bgg.jpg");
    font-family: Arial, Helvetica, sans-serif;

}

.nav ul {

    height: 50px;
    border: 1px solid #797884;
    border-radius: 30px;
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(241, 241, 241);

}

.nav ul li {
    display: inline;
    float: left;
}

.nav ul li a {
    display: block;
    color: rgb(53, 80, 107);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header .nav ul span {
    float: right;
    font-size: 2rem;
    margin-right: 60px;
    font-family: "Dancing Script";
}

.nav ul li a:hover {

    background-color: rgb(18, 49, 81);
    color: rgb(255, 255, 255);
    height: fit-content;
    margin-top: 2px;
    border-radius: 30px;

}

main .t {
    height: 1000px;
    width: 90%;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    background-repeat: no-repeat;
    background-size: cover;

}

/* Home Section  */

main div center .img {
    height: 300px;
    width: 300px;
    border-radius: 150px;
    background-image: url("img.avif");
    background-size: cover;


}

main div center .img img {
    border-radius: 50%;
}

h1 {
    text-align: center;
    color: rgb(18, 49, 81);
}


center .t .row .col {
    float: left;
    height: 150px;
    width: 250px;
    padding-top: 20px;
    margin-left: 200px;
    border: 2px solid black;
    border-radius: 5px;
}

/* Skills Section */

main center .t .skill {
    margin-left: 150px;
}

main center .t .skill div {
    float: left;
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

main center .t .skill center span {
    float: left;
    color: rgb(17, 17, 70);
    font-size: 2rem;
    margin-top: -10px;


}

main center .t .skill center .outer {
    height: 15px;
    width: 70%;
    border: 0.1px solid black;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

main center .t .skill center .outer .inner {
    height: 13px;
    width: 30%;
    border: 0.1px solid rgb(16, 21, 65);
    border-radius: 5px;
    background-color: rgb(16, 21, 65);
}

/* for contact us page  */
main center .t .con div {
    height: 200px;
    width: 50%;
    border: 2px ridge rgb(16, 21, 65);
    border-radius: 10px;
    margin-top: 80px;
    font-size: 3rem;
    padding-bottom: 10px;
}

main center .t .con div:hover {
    background-color: rgb(124, 124, 130);
}


main center .t .con div span {
    margin: 10px;
}

main center .t .con div a{
    text-decoration: none;
    color: black;
}

main center .t .con div a:hover{
    color: rgb(24, 81, 137);
    
}